<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Purchase Table</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Purchase Time</th>
        <th>Product Name</th>
        <th>Customer Username</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="purchaseProduct : ${purchaseProducts}">
        <td th:text="${purchaseProduct.purchase.purchaseid}"></td>
        <td th:text="${purchaseProduct.purchase.purchasetime}"></td>
        <td th:text="${purchaseProduct.product.name}"></td>
        <td th:text="${purchaseProduct.purchase.purchasecustomer.username}"></td>
        <td th:text="${purchaseProduct.product.price}"></td>
        <td th:text="${purchaseProduct.quantity}"></td>
        <td th:text="${purchaseProduct.product.price * purchaseProduct.quantity}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
